################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/bmrsgh2.github.io/FileContentIndex/28b24777-a15a-43d7-ba4e-c5038f87d304.vsidx
/.vs/bmrsgh2.github.io/FileContentIndex/33b7c5c6-99f8-487b-b649-a4163f2afe86.vsidx
/.vs/bmrsgh2.github.io/FileContentIndex/685d7bf1-c5b5-4c65-a6f6-12a8035b0a17.vsidx
/.vs/bmrsgh2.github.io/FileContentIndex/b2cc87fa-463e-4686-ab7f-c61ca4c8e6ee.vsidx
/.vs/bmrsgh2.github.io/FileContentIndex/bc3d4f05-10fc-49be-95f6-66c5be58683b.vsidx
/.vs/bmrsgh2.github.io/FileContentIndex
